{% extends "base.html" %}

{% block content %}
    <div id='PasswordChnageForm'>
        <form method="post" action="{% url 'password-reset' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="errors">
                            {{ field.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" name="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            $("#PasswordChnageForm").on('submit', function (e) {
                e.preventDefault(); // Prevent the default form submission

                var form = $(this);
                $.ajax({
                    type: 'POST',
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function (data) {
                        $('#password_change').empty().html(data);
                    }
                });
            });
        });
    </script>
{% endblock %}
