{% extends 'base.html' %}

{% block content %}
  <h2>Automobilio informacija</h2>
  <h3><p>Savininkas: {{ automobilis.klientas }}</p></h3>
  <p>Automobilio modelis: {{ automobilis.automobilio_modelis }}</p>
  <p>Valstybinis numeris: {{ automobilis.valstybinis_numeris }}</p>
  <p>VIN kodas: {{ automobilis.vin_kodas }}</p>
  <p>Aprasymas: {{ automobilis.description | safe }}</p>

      <h4>Atsiliepimai:</h4>
      {% if automobilis.automobilisreview_set.all %}
        {% for review in automobilis.automobilisreview_set.all %}
          <hr>
          <strong>{{ review.reviewer }}</strong>, <em>{{ review.date_created }}</em>
          <p>{{ review.content }}</p>
        {% endfor %}
      {% else %}
        <p>Automobilis neturi atsiliepimų</p>
    {% endif %}
      {% if user.is_authenticated %}
      <div class="fieldWrapper">
        <hr><br/>
        <h4>Palikite atsiliepimą:</h4>
       <form action="" method="post">
        {% csrf_token %}
        {{ form.content }}<br/>
        {{ form.automobilis }}  <!-- Add this line to include the hidden input field for the automobilis -->
        {{ form.reviewer }}  <!-- Add this line to include the hidden input field for the reviewer -->
          <input type="submit" value="Išsaugoti">
      </form>
      </div>
{% endif %}

{% endblock %}
