{% extends 'base.html' %}

{% block content %}
  <h1>Užsakymai</h1>
  <ul>
    {% for uzsakymas in page_obj %}
        <li>
      <img class="rounded-circle" src="{{ uzsakymas.reviewer.profilis.nuotrauka.url }}" alt="{{ uzsakymas.reviewer.get_full_name }}'s profile picture">
      <a href="{% url 'uzsakymas-detail' uzsakymas.pk %}">{{ uzsakymas.reviewer.get_full_name }}, {{ uzsakymas.pavadinimas }}</a>
        </li>
    {% empty %}
      <li>No service orders found.</li>
    {% endfor %}
  </ul>

  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
  {% endif %}
{% endblock %}
